<!-- Sidebar -->
<div class="sidebar d-flex flex-column p-3 mt-5">
    <!-- Navigation -->
    <ul class="nav nav-pills flex-column mb-auto" >
       
        <li >
            <a class="nav-link" href="#profile" data-bs-toggle="tab">
                <i class="bi bi-person-circle me-2 fs-3"></i> Profile
            </a>
        </li>
        <li>
            <a class="nav-link" href="#mybooks" data-bs-toggle="tab">
                <i class="bi bi-journal-bookmark-fill me-2 fs-3"></i> My Books
            </a>
        </li>
        <li>
            <a class="nav-link" href="#bookmarks" data-bs-toggle="tab">
                <i class="bi bi-bookmark-fill me-2 fs-3"></i> Bookmarks
            </a>
        </li>
        <li>
            <a class="nav-link" href="#downloads" data-bs-toggle="tab">
                <i class="bi bi-cloud-arrow-down-fill me-2 fs-3"></i> Downloads
            </a>
        </li>
        <li>
            <a class="nav-link" href="#history" data-bs-toggle="tab">
                <i class="bi bi-clock-history me-2 fs-3"></i> History
            </a>
        </li>
    </ul>
</div>
<!-- End of Sidebar -->