@inherits LayoutComponentBase


<div class="bb-page">
    <UserSideBar />
    <main>
        <UserTopBar />
        <article class="content px-4">
            <div class="main-content">
                @Body
            </div>
        </article>
    </main>
</div>