<!-- Card Start -->

<div class="container mt-3 mb-3">
    <Card Style="width: auto;" Class="shadow-sm card text-center">
        <CardHeader Style="background-color: #1B263B; color: #FAF9F6;" Class="text-center">
            Featured Book
        </CardHeader>
        <CardBody Style="background-color: #FFFFFF;">
            <CardTitle Class="text-center" Style="color: #1B263B">Bestseller of the Month</CardTitle>
            <CardText Style="color: #1B263B">
                Discover our hand-picked book of the month, packed with thrilling stories and deep insights.
            </CardText>
            <Button Color="ButtonColor.None" Style="background-color: #FF5722; border-color: #FF5722; color: #FFFFFF;" To="/books/bestseller" Type="ButtonType.Link" Class="w-100">
                Explore Now
            </Button>
        </CardBody>
    </Card>
</div>

<!-- Card End -->

@code {

}
